
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />



</br>
<h1 style="color: green">Dashboard</h1>
</br>
<h3><i class="fa-solid fa-calculator"></i> General stats: </h3>
</br>
<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a href='/admin/products' style="all: unset; cursor: pointer; color: green"><strong>Products</strong></a>
    <span class="badge alert-success"><%= @product_count %> products</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
  <a href='/admin/categories' style="all: unset; cursor: pointer; color: green"><strong>Categories</strong></a>
    <span class="badge alert-success"><%= @category_count %> categories</span>
  </li>
</ul>
</br>

<p><i style="color:brown">Click on either "Products" or "Categories" to navigate to their pages.</i></p>
