<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4 style="color: green">Thank you for your order!</h4>
  </div>
  </br>
  <% if current_user %>
    <div class="alert alert-success" role="alert">
        A receipt with your order's details has been sent to <i><%= @order.email %></i>
    </div>
  <% else %>
    <div class="alert alert-success" role="alert">
      Since no email adress was provided, we couldn't send you a confirmation email. </i>
    </div>
  <% end %>
  </br>

  <%= render 'order' %>
  
  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-warning' %>

</section>
 