
</br>
<h1 class="title">About Us</h1>
</br>

<p>
<span>Welcome to the Jungle!</span>
</br>
You love plants? This is the spot for you! </br>
</br>
We provide our customers with a unique variety of plants carefully shipped to your home.
</p>
